<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado</title>
</head>

<style>
    #photo {
        width: 100%
    }

    .textDiv {
        word-break: break-word;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 3.2cm;
        padding-right: 3.2cm;
        /*cor apenas para exmplo*/
        color: black;
    }
</style>

<body>
    <div class="divLeft">
        <!--3300 x 2300-->
        <img id="photo"
            src="https://raw.githubusercontent.com/NiedsonEmanoel/BOT-Gerador-de-Certificado-PDF/main/src/imagem.jpg">

        <div class="textDiv">

            <h1 style="text-align: center; padding-top: 2cm; font-size: 48px;">
                <%= title %>
            </h1>

            <h3 style="text-align: center;">
                <%= subtitle %>
            </h3>

            <h1 style=" font-size: 40px;  text-align: center;">
                <%= name %>
            </h1>

            <p style="padding-top: 0.3cm; font-size: 21px; text-align: justify;">
                <%= initialDescription %>
                    <b>
                        <%= boldDescription %>
                    </b>
                    <%= finalDescription %>
            </p>
            <span
                style="text-align: end; position: absolute; top: 0; right: 0; padding-right: 3.2cm; padding-top: 16.8cm;">
                <span style="font-size: 21px;"><%= entity %></span>
                <br/>
                <span style="font-size: 18px;"><%= entityCredential %></span>
            </span>
            
        </div>
    </div>
</body>

</html>